* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button { /* colocando a fonte estilizada vinda do google fonts */
    font-family: 'Bungee', cursive;
    font-weight: normal
}

body, input, textarea { /* fonte do google fonts */
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px;
    background-color: #182c61;
    color: #ecf0f1
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color: #182c61;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
    height: 250px;
}

.social-links img { /* tamanho das imagens dos links da rede social */
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a { /* tirando o sublinhado do link */
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea { /* bloqueando a liberdade para o usuário aumentar o tamanho e definindo o tamanho padrão */
    resize: none;
    height: 180px;
}

section h3 { /* colocando margem no título da sessão */
    margin-bottom: 16px;
}

form button { /* estilizando o botão com cor de fundo, cor do texto, tirando a borda e mudando o cursor para pointer*/
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover { /* mudar a cor do botão quando passar o mouse encima */
    background-color: #345bc7;
}

input:focus, textarea:focus { /*borda da caixa de texto e dos campos */
    outline-color: #182c61;
}

footer {
    background-color: #182c61; /*estilizando o rodapé com cor de fundo, cor da fonte e espaçamento*/
    color: #ecf0f1;
    padding: 16px 0;
}